// CSS VARIABLES 

// WIDTHS 
$mobile-width: 375px;
$desktop-width: 1440px;

// CARD COLORS 
$cyan: hsl(0, 78%, 62%);
$red: hsl(0, 78%, 62%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);

// TEXT COLORS 
$dark-blue: hsl(234, 12%, 34%);
$grey-blue: hsl(229, 6%, 66%);

// FONT SIZE
$font-size: 15px;

// FONT FAMILY
$font-stack: 'Poppins', sans-serif;

// FONT WEIGHTS
$thin: 200;
$Regular: 400;
$bold: 600;
